*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(70, 67, 65);
    display: flex;
}
.nav-title{
    text-align: left;
    padding-left: 80px;
    padding-right: 20%;
    vertical-align: middle;
}
.nav-links{
    vertical-align: middle;  
    justify-content: right;
    padding-top: 10px;
}
li{
    font-size: medium;
    display: inline;
    padding: 10px;
}
.active{
    font-weight: bold;
}
.btn{
    margin-left: 80px;
    background-color: teal;
    color: white;
    border: 3px solid black;
    box-shadow: 4px 4px black;
}

.row{
    padding: 20px;
    display: flex;
}
.col1{
    height: 800px;
    flex: 1;   
}
.col2{
    padding-left: 80px;
    height: 800px;
    flex: 2;    
}
#topstripe{
    margin-top: 30px;
    width: 400px;
    height: 100px;
    border: 3px;
    background-color: teal;
    border-color: grey;
}
#bodyofcard{
    width: 352px;
    height: 230px;
    border-left: 4px solid rgb(219, 213, 213);
    border-bottom: 4px solid rgb(219, 213, 213);
    border-right: 4px solid rgb(219, 213, 213);
    color: black;
    padding: 20px;
}
#photo img{
    height: 100px;
    margin-top: -70px;
    border: 3px solid white;
    border-radius: 50%;
    outline: 3px solid rgb(219, 213, 213);
}    
#name{
    font-size: 40px;
    margin-bottom: 10px;
}  
#cityMarker img{
    height: 25px;
    float: left;
}
#cityName{
    font-size: 22px; 
    display: inline;
    padding-left: 10px;
}
p{
    margin: 0px;
}
#skills{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    justify-content: left;
}
#editProfile img{
    height:20px;
}
#edbanner{
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 25px;
    text-align: left;
    height: 40px;
    width: 380px;
    color: white;
    background-color: rgb(68, 67, 67);
}
#edbody{
    width: 352px;
    height: 230px;
    border-left: 4px solid rgb(219, 213, 213);
    border-bottom: 4px solid rgb(219, 213, 213);
    border-right: 4px solid rgb(219, 213, 213);
    color: black;
    padding: 20px;
}
#edtitle{
font-size: 24px;
}
#edDates{
    font-size: 20px;
    color: grey;
}
#edDetail{
    font-size: 18px;
    color: black;
}
#connectReqBanner{
    padding-left: 8px;
    padding-top: 8px;
    font-size: 20px;
    height: 60px;
    width: 390px;
    margin-top: 30px;
    color: white;
    background-color: rgb(68, 67, 67);
}
#numReq{
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: grey;
}
#reqTitle{
    font-size: 30px;
    color: white;
    display:inline;
    margin-top: -40px;
    float: right;
    padding-right: 22px;
}
#reqBody{
    width: 350px;
    height: 160px;
    border-left: 4px solid rgb(219, 213, 213);
    border-bottom: 4px solid rgb(219, 213, 213);
    border-right: 4px solid rgb(219, 213, 213);
    color: black;
    padding: 20px;
}
.reqImg img{
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    outline: 3px solid rgb(219, 213, 213);
}
.reqName{
    width: 150px;
    font-size: 25px;
}
#acceptIcon img{
    height: 30px;
} 
#closeIcon img{
    height: 30px;
} 
#connBanner{
    padding-left: 8px;
    padding-top: 8px;
    font-size: 20px;
    height: 60px;
    width: 390px; 
    margin-top: 20px;
    color: white;
    background-color: rgb(68, 67, 67);
}
#totalConn{
width: 110px;
height: 50px;
font-size: 40px;
text-align: center;
border-radius: 50%;
color: white;
background-color: grey;
}
#connTitle{
    font-size: 33px;
    color: white;
    display:inline;
    margin-top: -40px;
    float: right;
    padding-right: 22px;
}
#connBody{
    width: 370px;
    height: 350px;
    border-left: 4px solid rgb(219, 213, 213);
    border-bottom: 4px solid rgb(219, 213, 213);
    border-right: 4px solid rgb(219, 213, 213);
    color: black;
    padding-left: 20px;
}
#vmbox{
    height: 50px;
    width: 360px;
    padding-left: 30px;
    font-size: 30px;
    color: blue;
    text-decoration: underline;
    border-left: 4px solid rgb(219, 213, 213);
    border-bottom: 4px solid rgb(219, 213, 213);
    border-right: 4px solid rgb(219, 213, 213);
}
